<div class="container" fxLayout="row" fxLayoutAlign="center center" fxFill >
  <mat-card fxFlex="80%" >
      <form #talkForm="ngForm">
          <mat-form-field color="accent">
            <mat-label>¿Si?, mi amo...</mat-label>
            <textarea id="msg"
                      appearance="outline"
                      matInput
                      name="msg"
                      [(ngModel)]="model.phrase"
                      required
                      rows="2"
                      placeholder="Tu mensaje"
                      #message="ngModel"
            ></textarea>
            <mat-error [hidden]="message.valid">
              El mensaje es requerido
            </mat-error>
          </mat-form-field>
          <button mat-raised-button
                  color="accent"
                  [disabled]="!talkForm.valid"
                  (click)="onTalk(); talkForm.resetForm()"
          >Habla!
          </button>
      </form>
  </mat-card>

</div>
